<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>地区级赛事。英雄联盟国内职业联赛。由腾讯主办、耗资千万打造的国内顶级LOL赛事。</string>
		<key>pic_url</key>
		<string>http://pic.woqugame.com/lol/vlist/43h544f7975.jpg</string>
		<key>videoID</key>
		<string>43</string>
		<key>icon</key>
		<string>LPL</string>
		<key>name</key>
		<string>国内LPL联赛</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>地区级赛事。英雄联盟韩国OGN职业联赛</string>
		<key>pic_url</key>
		<string>http://pic.woqugame.com/lol/vlist/41h544f78f3.jpg</string>
		<key>videoID</key>
		<string>41</string>
		<key>icon</key>
		<string>OGN</string>
		<key>name</key>
		<string>韩国OGN</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>地区级赛事。英雄联盟北美区LCS职业联赛</string>
		<key>videoID</key>
		<string>103</string>
		<key>pic_url</key>
		<string>http://pic.woqugame.com/lol/vlist/103h544f7909.jpg</string>
		<key>icon</key>
		<string>北美LCS</string>
		<key>name</key>
		<string>北美LCS</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>地区级赛事。英雄联盟欧洲区LCS职业联赛</string>
		<key>videoID</key>
		<string>104</string>
		<key>pic_url</key>
		<string>http://pic.woqugame.com/lol/vlist/104h544f7918.jpg</string>
		<key>icon</key>
		<string>欧洲LCS</string>
		<key>name</key>
		<string>欧洲LCS</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>S3世界总决赛是LOL第三赛季的终极赛事，来自世界各地的优秀战队将齐聚这一顶尖赛事。</string>
		<key>videoID</key>
		<string>117</string>
		<key>pic_url</key>
		<string>http://pic.woqugame.com/lol/vlist/117h544f78be.jpg</string>
		<key>icon</key>
		<string>S3</string>
		<key>name</key>
		<string>S3世界总决赛</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>S4世界总决赛，是《英雄联盟》2014赛季世界总决赛，来自于世界16支最顶尖队伍的较量，是英雄联盟最高荣誉和最具影响力的竞技比赛。</string>
		<key>videoID</key>
		<string>184</string>
		<key>pic_url</key>
		<string>http://pic.woqugame.com/lol/vlist/184h544f79ab.jpg</string>
		<key>icon</key>
		<string>S4</string>
		<key>name</key>
		<string>S4世界总决赛</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>S系列总决赛是LOL比赛里面最高荣誉，最高含金量，最高竞技水平，最高知名度比赛</string>
		<key>videoID</key>
		<string>220</string>
		<key>pic_url</key>
		<string>http://pic.woqugame.com/lol/vlist/220h55ff71e1.jpg</string>
		<key>icon</key>
		<string>S5</string>
		<key>name</key>
		<string>S5世界总决赛</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>世界级赛事。S2全球冠军赛是LOL第二赛季(2012年)的终极赛事，来自世界各地的优秀战队将齐聚这一顶尖赛事。</string>
		<key>videoID</key>
		<string>42</string>
		<key>pic_url</key>
		<string>http://pic.woqugame.com/lol/vlist/42h544f78d1.jpg</string>
		<key>icon</key>
		<string>S2</string>
		<key>name</key>
		<string>S2世界总决赛</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>世界级赛事。全称IGN PRO LEAGUEIPL，由美国IGN公司主办的电子竞技大赛，包括LOL星际2等项目。</string>
		<key>videoID</key>
		<string>37</string>
		<key>pic_url</key>
		<string>http://pic.woqugame.com/lol/vlist/37h544f793c.jpg</string>
		<key>icon</key>
		<string>IPL</string>
		<key>name</key>
		<string>LPL</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>世界级赛事。全称Worlde-Sports Masters，世界体育电子竞技大师赛。</string>
		<key>videoID</key>
		<string>38</string>
		<key>pic_url</key>
		<string>http://pic.woqugame.com/lol/vlist/38h51c90abf.jpg</string>
		<key>icon</key>
		<string>WEM</string>
		<key>name</key>
		<string>WEM</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>世界级赛事。SWL，即StarsWar League，英雄联盟国际电子竞技明星邀请赛。</string>
		<key>videoID</key>
		<string>39</string>
		<key>pic_url</key>
		<string>http://pic.woqugame.com/lol/vlist/39h544f7948.jpg</string>
		<key>icon</key>
		<string>SWL</string>
		<key>name</key>
		<string>SWL</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>世界级赛事。英特尔极限大师杯赛（IntelExtremeMaster），简称IEM。</string>
		<key>videoID</key>
		<string>40</string>
		<key>pic_url</key>
		<string>http://pic.woqugame.com/lol/vlist/40h544f7848.jpg</string>
		<key>icon</key>
		<string>IEM</string>
		<key>name</key>
		<string>IEM</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>国内赛事。英伟达游戏群英汇，由英伟达主办，PLU游戏娱乐传媒承办的赛事。</string>
		<key>videoID</key>
		<string>66</string>
		<key>pic_url</key>
		<string>http://pic.woqugame.com/lol/vlist/66h544f7b16.jpg</string>
		<key>icon</key>
		<string>NGF</string>
		<key>name</key>
		<string>NGF</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>世界级赛事。World Cyber Games，世界电子竞技大赛。</string>
		<key>videoID</key>
		<string>120</string>
		<key>pic_url</key>
		<string>http://pic.woqugame.com/lol/vlist/120h544f785b.jpg</string>
		<key>icon</key>
		<string>WCG2013</string>
		<key>name</key>
		<string>WCG2013</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>地区级赛事。全国电子竞技电视联赛(G联赛、英文名G·League)。</string>
		<key>videoID</key>
		<string>132</string>
		<key>pic_url</key>
		<string>http://pic.woqugame.com/lol/vlist/132h544f7893.jpg</string>
		<key>icon</key>
		<string>G联赛</string>
		<key>name</key>
		<string>G联赛</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>地区级赛事。由腾讯主办，汇集国内顶尖职业战队参赛的德玛西亚杯《英雄联盟》职业锦标赛。</string>
		<key>videoID</key>
		<string>168</string>
		<key>pic_url</key>
		<string>http://pic.woqugame.com/lol/vlist/168h544f786c.jpg</string>
		<key>icon</key>
		<string>德玛西亚杯</string>
		<key>name</key>
		<string>德玛西亚杯</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>地区级赛事。NEST全国电子竞技大赛是由国家体育总局信息中心和中国体育报业总社主办。</string>
		<key>videoID</key>
		<string>191</string>
		<key>pic_url</key>
		<string>http://pic.woqugame.com/lol/vlist/191h54532e82.jpg</string>
		<key>icon</key>
		<string>NEST</string>
		<key>name</key>
		<string>NEST电竞大赛</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>世界级赛事。RIOT官方于2015年新推出的国际赛事</string>
		<key>videoID</key>
		<string>208</string>
		<key>pic_url</key>
		<string>http://pic.woqugame.com/lol/vlist/208h55483b35.jpg</string>
		<key>icon</key>
		<string>MSI</string>
		<key>name</key>
		<string>MSI季中邀请赛</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>desc</key>
		<string>世界级赛事。由腾讯公司旗下riot games主办，来自北美、欧洲、中国、东南亚和韩国的顶尖战队都将出战。</string>
		<key>videoID</key>
		<string>83</string>
		<key>pic_url</key>
		<string>http://pic.woqugame.com/lol/vlist/83h544f7881.jpg</string>
		<key>name</key>
		<string>全明星赛</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>desc</key>
		<string>其他比赛视频精选。</string>
		<key>videoID</key>
		<string>116</string>
		<key>pic_url</key>
		<string>http://pic.woqugame.com/lol/vlist/116h544f78a9.jpg</string>
		<key>name</key>
		<string>其他赛事</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>desc</key>
		<string>世界级赛事。StarsWar即国际电子竞技明星邀请赛。SWL即StarsWar League，英雄联盟国际电子竞技明星邀请赛。</string>
		<key>videoID</key>
		<string>84</string>
		<key>pic_url</key>
		<string>http://pic.woqugame.com/lol/vlist/84h544f78e1.jpg</string>
		<key>name</key>
		<string>StarsWar</string>
	</dict>
</array>
</plist>
