//
//  XCodeConfig.xcconfig
//  FBYX
//
//  Created by 朱衡 on 15/7/6.
//  Copyright (c) 2015年 anzogame. All rights reserved.
//


//GCC_WARN_SHADOW = YES // 隐式转换成32位的类型
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_MULTIPLE_DEFINITION_TYPES_FOR_SELECTOR = YES //严格的Selector匹配
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES //缺 少函数原型
GCC_WARN_STRICT_SELECTOR_MATCH = YES //选择了多个定义的类型
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = YES //把缺少函数原型当作错误
//GCC_TREAT_WARNINGS_AS_ERRORS = YES //把所有的警告当作错误
GCC_WARN_UNDECLARED_SELECTOR = YES  //未定义的Selector
GCC_WARN_UNINITIALIZED_AUTOS = YES //未初始化的自动变量
GCC_WARN_UNKNOWN_PRAGMAS = YES //未知的Pragma指令
GCC_WARN_UNUSED_FUNCTION = YES //未使用的函数
GCC_WARN_UNUSED_LABEL = YES //未使用的标签
GCC_WARN_UNUSED_VALUE = YES //未使用的值
GCC_WARN_UNUSED_VARIABLE = YES //当一个语句计算的结果显式的未使用的时候发出警告 未使用的变量
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES //警告－所有过时的函数
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = YES //offsetof宏未定义使用的警告