<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>导航栏文字</key>
	<string>ffffff</string>
	<key>导航栏</key>
	<string></string>
	<key>底部栏</key>
	<string>00000000</string>
	<key>底部栏选中背景</key>
	<string>00000000</string>
	<key>T1</key>
	<string>989dac</string>
	<key>T2</key>
	<string>c8cace</string>
	<key>T3</key>
	<string>40424b</string>
	<key>T4</key>
	<string>ffffff</string>
	<key>T5</key>
	<string>3b9bec</string>
	<key>T6</key>
	<string>40424b</string>
	<key>T7</key>
	<string>fa9c30</string>
	<key>T8</key>
	<string>525966</string>
	<key>T9</key>
	<string>ffffff</string>
	<key>T10</key>
	<string></string>
	<key>T11</key>
	<string>ffffff</string>
	<key>T12</key>
	<string></string>
	<key>T13</key>
	<string></string>
	<key>T14</key>
	<string></string>
	<key>T15</key>
	<string></string>
	<key>T16</key>
	<string></string>
	<key>T17</key>
	<string>a6a6a6</string>
	<key>T18</key>
	<string>ef1b18</string>
	<key>L1</key>
	<string>e6e6e6</string>
	<key>L2</key>
	<string>e2e2e2</string>
	<key>L3</key>
	<string>eeeeee</string>
	<key>L4</key>
	<string>bec3c9</string>
	<key>BT2_Normal</key>
	<string>d6d6d6</string>
	<key>BT2_Press</key>
	<string>5c9df5</string>
	<key>BT4</key>
	<string></string>
	<key>BT5</key>
	<string></string>
	<key>BT6</key>
	<string></string>
	<key>BT7</key>
	<string>80151c22</string>
	<key>BT4Border</key>
	<string>566976</string>
	<key>BT6Boder</key>
	<string>566976</string>
	<key>B1</key>
	<string>f1f1f2</string>
	<key>B2</key>
	<string>ffffff</string>
	<key>B3</key>
	<string>f4f4f4</string>
	<key>B4</key>
	<string></string>
	<key>B5</key>
	<string>101a2229</string>
	<key>B6</key>
	<string></string>
	<key>B7</key>
	<string>3b9bec</string>
	<key>B8</key>
	<string></string>
	<key>B9</key>
	<string>4da9f6</string>
	<key>B10</key>
	<string></string>
	<key>B11</key>
	<string>f7f7f7</string>
	<key>B12</key>
	<string></string>
	<key>B13</key>
	<string>ffffff</string>
	<key>B15</key>
	<string>95F1F1F2</string>
	<key>B18</key>
	<string>ff8702</string>
	<key>B19</key>
	<string>bfbfbf</string>
</dict>
</plist>
