<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>导航栏文字</key>
	<string>ffffff</string>
	<key>导航栏</key>
	<string></string>
	<key>底部栏</key>
	<string>00000000</string>
	<key>底部栏选中背景</key>
	<string>00000000</string>
	<key>T1</key>
	<string>565f75</string>
	<key>T2</key>
	<string>3f4552</string>
	<key>T3</key>
	<string>acb3c6</string>
	<key>T4</key>
	<string>ffffff</string>
	<key>T5</key>
	<string>3b9bec</string>
	<key>T6</key>
	<string>acb3c6</string>
	<key>T7</key>
	<string>ff8802</string>
	<key>T8</key>
	<string>525966</string>
	<key>T9</key>
	<string>ffffff</string>
	<key>T10</key>
	<string></string>
	<key>T11</key>
	<string>ffffff</string>
	<key>T12</key>
	<string></string>
	<key>T13</key>
	<string></string>
	<key>T14</key>
	<string></string>
	<key>T15</key>
	<string></string>
	<key>T16</key>
	<string></string>
	<key>T17</key>
	<string>3f4552</string>
	<key>L1</key>
	<string>2a2e37</string>
	<key>L2</key>
	<string>111215</string>
	<key>L3</key>
	<string>2a2e37</string>
	<key>L4</key>
	<string></string>
	<key>BT1</key>
	<string>5c9df5</string>
	<key>BT2</key>
	<string>3f4552</string>
	<key>BT3</key>
	<string>404154</string>
	<key>BT4</key>
	<string>98FFFFFF</string>
	<key>BT5</key>
	<string>80151c22</string>
	<key>BT6</key>
	<string>98ffffff</string>
	<key>BT7</key>
	<string>80151c22</string>
	<key>BT4Border</key>
	<string>566976</string>
	<key>BT6Boder</key>
	<string>566976</string>
	<key>B1</key>
	<string>1a1c20</string>
	<key>B2</key>
	<string>1e1f24</string>
	<key>B3</key>
	<string>18191d</string>
	<key>B4</key>
	<string>ffffff</string>
	<key>B5</key>
	<string>101a2229</string>
	<key>B6</key>
	<string>36335b</string>
	<key>B7</key>
	<string>3b9bec</string>
	<key>B8</key>
	<string>1d262b</string>
	<key>B9</key>
	<string>bfbfbf</string>
	<key>B10</key>
	<string>171e25</string>
	<key>B11</key>
	<string>17191d</string>
	<key>B12</key>
	<string>1d262b</string>
	<key>B13</key>
	<string>272a31</string>
	<key>B14</key>
	<string></string>
	<key>B15</key>
	<string></string>
	<key>B16</key>
	<string></string>
	<key>B17</key>
	<string></string>
	<key>B18</key>
	<string>ff8702</string>
</dict>
</plist>
